#to-do-list {
    text-align: center;
} 

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
text-align: center;
}

.card {
    /* margin: 0 auto;   */
    float: none; 
    /* margin-bottom: 10px;  */
}